<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Записи сообщества {{ post.group.slug }} | Yatube</title>
  </head>
  <body>
  {% for post in posts %}
  <h1>{{ post.author.get_full_name }}</h1>
  <p>
        Цитаты {{ post.author.get_full_name }}
  </p>

  <h3>
        Автор: {{ post.author.get_full_name }}, Дата публикации: {{ post.pub_date|date:"d M Y" }}
  </h3>
  <p>{{ post.text|linebreaksbr }}</p>
  {% endfor %}

  </body>
</html>